<% @user.followers.each do |user| %>
<table>
<tr>
  <td>  <%= user.nickname %> </td>
  <td>  <%= image_tag user.avatar.url %> </td>
  <td><%= link_to '詳細', user_path(user) %></td>
</tr>

</table>
<% end %>