<% @posts.each do |post| %>
  <div class="content">
    <div class="content-title">
      <%= post.title %>
    </div>
    <div class="content-image">
      <%= post.image %>
    </div>
      <%= post.created_at %>
  </div>
<% end %>


