.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  &__left {
    & h1 {
      margin: 0 0 0 60px;
      padding: 5px 0;
      .app-title {
        text-decoration: none;
        font-family:'Bilbo' ;
        font-size: 50px;
      }
    }
    a:link, a:visited, a:hover, a:active {
      color: #000;
    }
  }
  &__right {
    text-align: right;
    font-size: 18px;
    .login-user {
      text-decoration: none;
      margin-right: 10px;
      &:link,&:visited,&:hover,&:active {
        color: #000;
      }
    } 
    .logout-btn {
      text-decoration: none;
      color: white;
      background-color: red;
      border-radius: 5px;
      padding: 5px 20px;
      margin-right: 65px;
    }
    .post-btn {
      text-decoration: none;
      color: white;
      background-color: blue;
      border-radius: 5px;
      padding: 5px 46px;
      margin-left: 10px;
      margin-right: 10px;

    }
    .login-btn {
      text-decoration: none;
      color: white;
      background-color: #5cb85c;
      border-radius: 5px;
      padding: 5px 20px;
    }
    .registration-btn {
      text-decoration: none;
      color:white;
      background-color: #f93;
      border-radius: 5px;
      padding: 5px 20px;
      margin-left: 10px;
      margin-right: 65px;
    }
  }
}

// post/index
.container {
  text-align: center;
  .main-content {
    margin-top: 50px;
    &__link {
      text-decoration: none;
      &:link,&:visited,&:hover,&:active {
        color: #000;
      }
      .index-avatar {
        text-align: left;
        margin-bottom: -20px;
        &__div {
          margin-left: 25px;
          &__image {
            height: 60px;
            width: 60px;
            border-radius: 60px;
            object-fit: cover;
            position: relative;
          }
          .index-nickname {
            font-size: 20px;
            position: absolute;
          }
        }
      }
    }
    .contributor{
      text-decoration: none;
      &:link,&:visited,&:hover,&:active {
        color: #000;
      }
      .post-title {
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 26px;
        text-decoration: none;
      }
    }
  }
}



// users/show post/show 
.all-body {
  background-color: #fff;
  padding-top: 30px;
  height: 100vh;
  .details {
    border:1px solid #f0f0f0;
    border-radius: 10px;
    box-shadow: lightgray 0px 0px 5px;
    text-align: center;
    margin: 0px 300px 0 300px;
    padding :20px 0;
    .contributor{
      text-decoration: none;
      &:link,&:visited,&:hover,&:active {
        color: #000;
      }
      .post-avatar {
        height: 100px;
        width: 100px;
        border-radius: 100px;
        object-fit: cover;
      }
      .contributor-nickname {
        font-size: 25px;  
      }
    }
    .main-title {
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 20px;
    }
    .main-content {
      font-size: 18px;
    }
  }
}

.main {
  text-align: center;
  margin-top: 50px;
  .btn-success {
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 20px;
  }
}

.post-edit{
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  background-color:rgb(250, 229, 41);
  padding: 5px 20px;
  &:link, &:visited, &:hover, &:active {
    color:black;
    text-decoration: none;
  }
}

.post-delete {
  font-size: 18px;
  color:white;
  background-color: red;
  border-radius: 5px;
  padding: 5px 20px;
  &:link, &:visited, &:hover, &:active {
    color:white;
    text-decoration: none;
  }
}

// .image {
//   width: 200px;
//   height: 200px;
//   //サイズ指定
//   border-radius: 100px;
//   //画像を丸くする
//   object-fit: cover;
//   //タテヨコ比を変えないままトリミング
// }



